.contactsContainer {
  display: flex;
  flex-direction: column;
}

.contactList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deleteButton {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 27px;
  padding: 0 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.deleteButton:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #202124;
}

.deleteButton:focus {
  border-color: #4285f4;
  outline: none;
}
